
<meta charset="utf-8">
<div class="heading">
	<label>Student Relation Management</label>
</div>
<div class="container" style="padding: 0.75rem">
	<div class="col-md-11">
		<button (click)="logout()" class="btn btn-success pull-right zoomout button"
			style="background: #ae285d">Logout</button>

	</div>

	<div  *ngIf="isAdmin" class="row">
		<div class="col-md-6 col-lg-6 col-sm-6">
			<button class="zoomout button" (click)="newUser()" style="background: #ae285d">Add Student</button>
			
			<button class="zoomout button" (click)="ngxSmartModalService.getModal('uploadMarksModal').open()" style="background: #ae285d; margin: 10px">Upload Marks</button>

			<button class="zoomout button" (click)="ngxSmartModalService.getModal('addStaffModal').open()" style="background: #ae285d; margin: 10px">Add Staff</button>
		</div>
		</div>


</div>
<!-- Modal View -->
<ngx-smart-modal #addStaffModal identifier="addStaffModal">
<app-staffmember></app-staffmember>
	<button (click)="addStaffModal.close()">Close</button>
  </ngx-smart-modal>

  <ngx-smart-modal #uploadMarksModal identifier="uploadMarksModal">
	<app-upload-marks></app-upload-marks>
		<button (click)="uploadMarksModal.close()">Close</button>
	  </ngx-smart-modal>



<!-- Modal View End -->

<div class="bg">
	<div class="container" style="padding: 0.75rem">
		<div class="col-md-11">
			<div class="form-group"></div>
		</div>
		<table id="datatables" class="table table-striped table-condensed table-hover" width="100%">
			<ngx-loading [show]="loading"></ngx-loading>
			<thead class="tablehead">
				<tr>
					<th class="tablehead">{{ dataTable.headerRow[0] }}</th>
					<th class="tablehead">{{ dataTable.headerRow[1] }}</th>
					<th class="tablehead">{{ dataTable.headerRow[2] }}</th>
					<th class="tablehead">{{ dataTable.headerRow[4] }}</th>
					<th class="tablehead">{{ dataTable.headerRow[5] }}</th>
					<th class="disabled-sorting tablehead ">{{
						dataTable.headerRow[6] }}</th>
				</tr>

			</thead>

			<!-- <tfoot>
        <tr>
        <th class="tablehead">{{ dataTable.footerRow[0] }}</th>
        <th class="tablehead">{{ dataTable.footerRow[1] }}</th>
        <th class="tablehead">{{ dataTable.footerRow[2] }}</th>
        <th class="tablehead">{{ dataTable.footerRow[3] }} </th>
        <th class="tablehead"> {{ dataTable.footerRow[4] }}</th>
        <th class="tablehead">{{ dataTable.footerRow[5] }}</th>
      </tr>
       
      </tfoot> -->

			<tbody>

				<tr *ngFor="let student of dataTable.dataRows">

					<td style="color-adjust: 10" width="10%">{{student.rollno}}</td>
					<td><a class="butn" type="submit" (click)=relativeStudent(student.rollno)><span tooltip
								content="You can have any html or plain text content here">{{student.name}}
							</span></a></td>
					<td width="10%">{{student.std}}</td>
					<td>{{student.address}}</td>
					<td>
						<button class="zoomout btn" (click)="uploadDoc(student)"
							style="background: transparent; margin-right: 20px;">
							<i class=" fa fa-upload " style="color: #28a745; font-size: 20px"></i>
						</button>
					</td>
					<td style="text-align: center" width="15%">
						<!-- <button class="zoomout btn" (click)="updateUser(student)"
							style="background: transparent; margin-right: 20px;">
							<i class=" fa fa-pencil " style="color: #28a745; font-size: 20px"></i>
						</button> -->

						<button class="zoomout btn " (click)="deleteUser(student.rollno)"
							style="background: transparent">
							<i class=" fa fa-trash " style="color: red; font-size: 20px"></i>
						</button>
					</td>
				</tr>

			</tbody>

		</table>






	</div>
</div>